body {
  font-family: sans-serif;
}
* {
  color: white;
  background: rgb(82, 19, 141);
  margin: 0;
  padding: 0;
}
.input {
  display: flex;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}
label {
  margin-right: 50px;
  width: 100px;
}
input {
  width: 150px;
  border: 1px solid black;
  padding: 5px;
}
h1 {
  text-align: center;
}
button {
  margin: 0 auto;
  font-size: 16px;
  padding: 10px;
  border: 1px solid white;
}
.btn {
  display: flex;
  justify-content: center;
}
#output {
  text-align: center;
  margin: 40px 0;
  font-size: 18px;
}
